<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioTimbrado" />
            </basicHttpBinding>
        </bindings>
        <client>

          <endpoint address="http://pruebas.ntlink.com.mx/certificador/ServicioTimbrado.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioTimbrado"
               contract="Ntlink.IServicioTimbrado" name="BasicHttpBinding_IServicioTimbrado" />
          <!--
            <endpoint address="http://ntlink.com.mx/ntfacturacionws/ServicioTimbrado.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioTimbrado"
                contract="Ntlink.IServicioTimbrado" name="BasicHttpBinding_IServicioTimbrado" />
                -->
                
        </client>
    </system.serviceModel>
</configuration>
