<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicioLocal.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICertificadorApps" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pruebas.ntlink.com.mx/CertificadorApps33/CertificadorApps.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificadorApps"
                contract="InternalCertificador.ICertificadorApps" name="BasicHttpBinding_ICertificadorApps" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ServicioLocal.Business.Properties.Settings>
            <setting name="ServicioLocal_Business_ReportExecution_ReportExecutionService"
                serializeAs="String">
                <value>http://localhost/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="ServicioLocal_Business_ReportService_ReportingService2005"
                serializeAs="String">
                <value>http://localhost/ReportServer/ReportExecution2005.asmx</value>
            </setting>
        </ServicioLocal.Business.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="InternalClientUserName" value="ntlink"/>
    <add key="InternalClientPassword" value="%n7l1nq%"/>
  </appSettings>
</configuration>