<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>

    <appender name="ConsoleAppender"
              type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date-%thread-%level-%type.%method.%line: %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <immediateFlush value="true"/>
      <maximumFileSize value="20MB"/>
      <maxSizeRollBackups value="-1" />
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date-%thread-%level-%type.%method.%line: %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />

    </root>
  </log4net>
  
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <!--<add name="delimitedListener"
          type="System.Diagnostics.DelimitedListTraceListener" delimiter="|"
          initializeData="delimitedOutput.csv"/>-->
          <add name="messages"
          type="System.Diagnostics.XmlWriterTraceListener"
          initializeData="C:\NtLInk\Logs\MessagesLocal.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\NtLInk\Logs\ActivityLocal.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <connectionStrings>

    <add name="NtLinkLocalServiceEntities" connectionString="metadata=res://*/NtLinkLocalModel.csdl|res://*/NtLinkLocalModel.ssdl|res://*/NtLinkLocalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=ProduccionNtLink33;user id=rgv;password=ricardin&quot;" providerName="System.Data.EntityClient"/>
    <add name="NtLinkMembership" connectionString="Data Source=localhost;Initial Catalog=ProduccionNtLink33;user id=rgv;password=ricardin" providerName="System.Data.EntityClient"/>
    <add name="DescargasSatEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DescargasSat;user id=rgv;password=ricardin&quot;" providerName="System.Data.EntityClient"/>
    <add name="CatalogosEntities1" connectionString="metadata=res://*/ModeloCatalogos.csdl|res://*/ModeloCatalogos.ssdl|res://*/ModeloCatalogos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Catalogos;user id=rgv;password=ricardin&quot;" providerName="System.Data.EntityClient"/>

    <!--<add name="NtLinkLocalServiceEntities" connectionString="metadata=res://*/NtLinkLocalModel.csdl|res://*/NtLinkLocalModel.ssdl|res://*/NtLinkLocalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.16.3.4;Initial Catalog=ProduccionNtLink;user id=ntlink;password=Cfdi.2016&quot;" providerName="System.Data.EntityClient" />
    <add name="NtLinkMembership" connectionString="Data Source=172.16.3.4;Initial Catalog=ProduccionNtLink;user id=ntlink;password=Cfdi.2016" providerName="System.Data.EntityClient" />
    <add name="CatalogosEntities1" connectionString="metadata=res://*/ModeloCatalogos.csdl|res://*/ModeloCatalogos.ssdl|res://*/ModeloCatalogos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.3.4;initial catalog=Catalogos;user id=ntlink;password=Cfdi.2016;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   

  </connectionStrings>

  <system.web>
    <roleManager enabled="true" defaultProvider="SqlRoleManager" >
      <providers>
        <add name="SqlRoleManager"
						 type="System.Web.Security.SqlRoleProvider"
						 connectionStringName="NtLinkMembership"
						 applicationName="MyApplication" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
          <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="NtLinkMembership" applicationName="MyApplication" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="3" passwordAttemptWindow="10" passwordFormat="Hashed" />
      </providers>
    </membership>
    <profile inherits="ServicioLocal.Business.UserProfile, ServicioLocal.Business">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="NtLinkMembership"/>
      </providers>
    </profile>


    <globalization uiCulture="es-MX" culture="es-MX" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <appSettings>
    <add key="RutaTimbrado" value="C:\NtLInk\Timbrado\" />
    <add key="Resources" value="C:\NtLInk\Resources\"/>
    <add key="Salida" value="C:\NtLInk\Salida\"/>
    <add key="Pac" value="NtLink"/>
    <add key="TmpFiles" value="C:\NtLink\Temp\"/>
    <add key="RutaLco" value="C:\NtLink\Lco\"/>
    <add key="CustomerKey" value="a6cd9bdb25581978ca226e792aca9a034cc50a1b"/>
   <!-- <add key="ServicioLocal" value="http://localhost:1872/ServicioLocalWEB.svc"/>-->
    <add key="Host" value="mail2.ntlink.com.mx" /> <!--para pruebas-->
  <!--  <add key="Host" value="smtp.alestraune.net.mx" />-->
    <add key="Port" value="587" />
    <add key="UserName" value="facturacion@ntlink.com.mx" />

    <add key="UserNameGrupo1" value="facturacion1@ntlink.com.mx" />
    <add key="UserNameGrupo2" value="facturacion2@ntlink.com.mx" />
    <add key="UserNameGrupo3" value="facturacion3@ntlink.com.mx" />
    <add key="UserNameGrupo4" value="facturacion4@ntlink.com.mx" />
    <add key="UserNameGrupo5" value="facturacion@ntlink.com.mx" />
    <add key="UserNameRuta" value="C:\NtLink\tmpCorreo\"/>


    <add key="Password" value="Factur2012" />
    <add key="UrlSatLco" value="ftp://ftp2.sat.gob.mx/agti_servicio_ftp/verifica_comprobante_ftp/"/>

    <add key="RSUserName" value="Administrador"/>
    <!--para pdf-->
    <!--<add key="RSPass" value="Ntf2015*"/>-->
    <!--para pdf-->
    <add key="RSPass" value="NtlinK.2019*P"/>
    <add key="RSUrlExec" value="http://localhost/ReportServer_SQL/ReportExecution2005.asmx"/>
    <add key="RSUrlService" value="http://localhost/ReportServer_SQL/ReportService2005.asmx"/>

    <add key="RutaArchivosXsd" value="C:\NtLInk\ArchivosValidador\XSD"/>
    <add key="RutaArchivosXsl" value="C:\NtLInk\ArchivosValidador\XSLT"/>
    <add key="CertsValidacion" value="C:\NtLInk\Certificados\Validacion"/>
    <add key="CertACSat" value="C:\NtLInk\Certificados\AC_SAT"/>
    <add key="RutaXsd" value="C:\NtLInk\Xsd33\" />
    <add key="RutaXslt" value="C:\NtLInk\Xsl33\" />
    <add key="RutaXsd2" value="C:\NtLInk\Xsd\" />
    <add key="RutaXslt2" value="C:\NtLInk\Xsl\" />
    <add key="InternalClientUserName" value="ntlink"/>
    <add key="InternalClientPassword" value="%n7l1nq%"/>
  </appSettings>
  
 
  
  <system.webServer>
     <directoryBrowse enabled="true" />
     <modules runAllManagedModulesForAllRequests="true"/>
      <!--<handlers>
        <add name=".svc" verb="*" path="*.svc"  type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </handlers>-->
    </system.webServer>
  <system.serviceModel>
    <!--configuracion del servicio-->
    <services>
      <service name="ServicioLocalWeb.ServicioLocalWEB" behaviorConfiguration="ServicioLocalWeb.ServicioLocalWEBBehavior">
        <endpoint address="" binding="wsHttpBinding" contract="ServicioLocalContract.IServicioLocalWEB" bindingConfiguration="WsHttpBinding_ServicioLocalWEB"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServicioLocalWeb.ServicioLocalWEBBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServicioLocalWeb.ServicioLocalWEBBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBinding_ServicioLocalWEB" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8">
          <security mode="None"/>
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
              <!--otro-->
      <basicHttpBinding>

        <binding name="BasicHttpBinding_ICertificadorApps" closeTimeout="00:10:00"
						openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" />

         <binding name="BasicHttpBinding_ICertificador" />

      </basicHttpBinding>
             <!--fin-->
    </bindings>
    <!--fin-->
    <client>

      <!--Cambios a pruebas-->

      <endpoint address="http://pruebas.ntlink.com.mx/CertificadorApps33/CertificadorApps.svc"
                 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificadorApps"
                 contract="InternalCertificador.ICertificadorApps" name="BasicHttpBinding_ICertificadorApps" />
      <endpoint address="http://pruebas.ntlink.com.mx/CertificadorWs33/CertificadorService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificador"
          contract="NtLinkService.ICertificador" name="BasicHttpBinding_ICertificador" />
    </client>
    </system.serviceModel>
</configuration>
