<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
   <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
   <!--Valores del tiempo-->
    <add key="SessionTimeout" value="10" />
    <add key="SessionTimeoutWarning" value="9" />


    <!--correo gratuito-->
    <add key="correoGratuito" value="news@ntlink.com.mx" />
    <!--correo a enviar-->
    <!--<add key="correoGratuito" value="ricardo.gomez@ntlink.com.mx"/>-->
    <!--correo a enviar--> 
  
  
    <!-- para token-->
    <add key="CertificadosToken" value="C:\NtLInk\Token\deploy.cuentasporpagar.com.crt" />
    <!--para las empresas por token-->
    <!--<add key="CertificadosToken" value="C:\NtLInk\Token\ai.crt"/> -->
    <!--certificado para ntlink-->
    <add key="LlaveToken" value="C:\NtLInk\Token\privada.p12" />
    <!--key ntlink-->
    <add key="KEYToken" value="#NTLink$" />
    <!--llave para key-->
    <!--fin para token-->
    <!-- <add key="ServicioLocal" value="net.tcp://localhost:8999/ServicioLocal"/>-->
    <!--<add key="ServicioLocal" value="http://pruebas.ntlink.com.mx/servicioLocalWEB_3.3/ServicioLocalWEB.svc"/>-->
      <add key="ServicioLocal" value="http://localhost:1902/ServicioLocalWEB.svc" />
         <!--<add key="ServicioLocal" value="http://localhost/servicioLocalWEB_3.3/ServicioLocalWEB.svc"/>-->
    <add key="Host" value="mail.sidetec.com.mx" />
    <add key="Port" value="26" />
    <add key="UserName" value="fernando.ayala@sidetec.com.mx" />
    <add key="Password" value="fernando2011" />
    <add key="Documentos" value="Generar CFDI|Generar CFDI C/Retenciones|Generar CFDI Aduanal|Generar CFDI Personalizado|Generar CFDI Recibo Honorarios|Generar CFDI con Anticipos|Generar Recibo de Arrendamiento|Generar CFDI con Firmas|Generar CFDI con Anticipos y Firmas|Generar CFDI Customizado con Anticipos y Firmas|Liverpool|FacturaMabe|FacturaDeloitte|FacturaSorianaCEDIS|FacturaSorianaTienda|FacturaAdo|CorporativoAduanal|Factura Addenda Pemex|Factura Lucent|Addenda AMECE 7.1|Carta Porte|Coppel|Factura Home Depot|Factura Pilgrims|Factura Liverpool Detallista|Constancia de Retenciones|Honda|Amazon|CFDI Complementos|Comisionistas|ASOSCOC|Generar Complemento IEDU" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
 
  </appSettings>
 
  <system.web>
       <globalization uiCulture="es-MX" culture="es-MX" />
    <compilation debug="true" targetFramework="4.6.1" />
      <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <sessionState mode="InProc" timeout="10" />
    
    <httpRuntime maxRequestLength="10240" executionTimeout="36000" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>      
    </assemblyBinding>
    
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
   
    </compilers>
  </system.codedom>

 <system.webServer>
      <staticContent>
         <remove fileExtension=".woff" />
         <remove fileExtension=".woff2" />
         <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
         <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      </staticContent>
</system.webServer>

 <location path="Token.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--correo gratuito-->

  <system.net>
    <mailSettings>
      <smtp from="gratuito@ntlink.com.mx">
        <network host="mail2.ntlink.com.mx" port="587" userName="gratuito@ntlink.com.mx" password="Ntlink2015" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--fin correo gratuito-->
</configuration>